<!-- The content below is only a placeholder
and can be replaced. -->
<h1>Ma liste d'employés</h1>
<h2>SIRH de Amazogle</h2>
<br><br>

<nav>
  <a routerLink="/heroes">Liste de employés</a>
  <a routerLink="/dashboard">Liste des meilleurs employés</a>
</nav>
<router-outlet></router-outlet> <br> <br>
<app-message></app-message>


<!-- Voici le nom du talent :<app-heroes></app-heroes>
                        <app-message></app-message>
                        <app-votetaker></app-votetaker > -->


